/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    width: 100%;
    max-width: 32.625em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sbs .cs-picture {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 1.5em;
  }
  #sbs .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbs .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs .button-solid {
    margin-top: 2rem;
  }
  
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    width: 45%;
    max-width: 35rem;
    flex: none;
    margin: 0;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: .2;
  }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2370 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
    background-color: #FBF5F1;
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-2370 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 49rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2370 .cs-wrapper {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbsr-2370 .cs-content {
    /* set text align to center if content needs to be centered */
    text-align: left;
    width: 100%;
    max-width: 43.375rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* left aligns content, set to center to align content horizontally */
    align-items: flex-start;
  }
  #sbsr-2370 .cs-header {
    /* 20px - 31px */
    font-size: clamp(1.25rem, 3vw, 1.9375rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 2rem 0;
    color: var(--headerColor);
  }
  #sbsr-2370 .cs-arrow {
    width: 9.625rem;
    height: auto;
    margin-bottom: 1.25rem;
    display: block;
  }
  #sbsr-2370 .cs-topper {
    text-align: center;
    margin: auto;
  }
  #sbsr-2370 .cs-title {
    text-align: center;
    max-width: 20ch;
    margin: auto;
    margin-bottom: 2rem;
    /* 48px - 64px */
    padding-bottom: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbsr-2370 .cs-title:before {
    content: '';
    width: 100vw;
    height: 1px;
    background: #D2D8DF;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #sbsr-2370 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-2370 .cs-text:last-of-type {
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }
  #sbsr-2370 .cs-ul {
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbsr-2370 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-2370 .cs-icon {
    width: 1.1875rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 3px;
    display: block;
    flex: none;
  }
  #sbsr-2370 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    overflow: hidden;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 6.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-2370 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbsr-2370 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2370 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.8vw, .75rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 100%;
    max-width: 32.625em;
    height: auto;
    order: 2;
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
  #sbsr-2370 .cs-picture {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  #sbsr-2370 .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  #sbsr-2370 .cs-flower {
    width: 75em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    opacity: 0.6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2370 .cs-container {
    max-width: 80rem;
  }
  #sbsr-2370 .cs-image-group {
    max-width: 28rem;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbsr-2370 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
  }
  #sbsr-2370 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 1;
    gap: 3rem;
  }
  #sbsr-2370 .cs-content {
    width: 50%;
    max-width: 40rem;
    padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
    padding-right: 2rem;
    align-items: flex-start;
    flex-shrink: 0;
  }
  #sbsr-2370 .cs-topper,
  #sbsr-2370 .cs-title {
    text-align: left;
    margin: 0;
  }
  #sbsr-2370 .cs-topper {
    margin-bottom: 0.25rem;
  }
  #sbsr-2370 .cs-title {
    margin-bottom: 2rem;
    max-width: 100%;
  }
  #sbsr-2370 .cs-image-group {
    font-size: min(1.2vw, 1rem);
    width: 45%;
    max-width: 35rem;
    height: auto;
    min-height: 35rem;
    order: 2;
    position: relative;
    margin: 0;
    flex-shrink: 0;
  }
  #sbsr-2370 .cs-picture {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #sbsr-2370 .cs-picture img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }
  #sbsr-2370 .cs-flower {
    width: 60rem;
    max-width: 56.25rem;
    opacity: 0.4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-2370 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #sbsr-2370 .cs-title,
  body.dark-mode #sbsr-2370 .cs-text,
  body.dark-mode #sbsr-2370 .cs-header,
  body.dark-mode #sbsr-2370 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-2370 .cs-title:before {
    opacity: 0.2;
  }
  body.dark-mode #sbsr-2370 .cs-text,
  body.dark-mode #sbsr-2370 .cs-li {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-2370 .cs-wheel {
    filter: grayscale(1) brightness(1000%) opacity(0.3);
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1261 {
        padding: var(--sectionPadding);
        background-color: white;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    #faq-1261 .cs-container {
        width: 100%;
        /* chnages to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 40px - 48px */
        gap: clamp(2.5rem, 5vw, 3rem);
    }
    #faq-1261 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #faq-1261 .cs-title {
        margin: 0;
        color: var(--bodyTextColor);
    }
    #faq-1261 .cs-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* 16px - 20px */
        gap: clamp(1rem, 2.4vw, 1.25rem);
    }
    #faq-1261 .cs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 2.4vw, 1.25rem);
    }
    #faq-1261 .cs-faq-item {
        list-style: none;
        width: 100%;
        background-color: #303044;
        border-radius: 0.5rem;
        padding: 0;
        box-sizing: border-box;
        transition: border-bottom 0.3s;
    }
    #faq-1261 .cs-faq-item.active .cs-button {
        color: var(--primary);
    }
    #faq-1261 .cs-faq-item.active .cs-button:before {
        background-color: var(--primary);
        transform: rotate(315deg);
    }
    #faq-1261 .cs-faq-item.active .cs-button:after {
        background-color: var(--primary);
        transform: rotate(-315deg);
    }
    #faq-1261 .cs-faq-item.active .cs-item-p {
        height: auto;
        margin-top: 0.75rem;
        /* 16px - 24px */
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #faq-1261 .cs-faq-item.active .cs-item-p:before {
        /* border top */
        content: "";
        height: 1px;
        background: #7d799c;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 1.5rem;
        right: 1.5rem;
    }
    #faq-1261 .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        width: 100%;
        padding: 1.5rem 1.5rem 0;
        border: none;
        background: transparent;
        color: var(--bodyTextColorWhite);
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        /* 16px - 24px */
        gap: clamp(1rem, 2.5vw, 1.5rem);
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #faq-1261 .cs-button:hover {
        cursor: pointer;
    }
    #faq-1261 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: 1.1875rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #faq-1261 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--bodyTextColorWhite);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 67%;
        right: 1rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #faq-1261 .cs-button-text {
        width: 90%;
        padding: 0;
        display: block;
    }
    #faq-1261 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 100%;
        max-width: 33.8125rem;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 1.5rem 1.5rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        position: relative;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s,
            padding-top 0.3s;
    }
    #faq-1261 .cs-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #faq-1261 .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-1261 .cs-container {
        max-width: 80rem;
    }
    #faq-1261 .cs-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #faq-1261 {
        background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #faq-1261 .cs-faq-item {
        background-color: var(--medium);
    }
    body.dark-mode #faq-1261 .cs-title {
        color: var(--bodyTextColorWhite);
    }
}

                                                                
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  color: #fff; /* inherits via currentColor */
}

.contact-email .icon {
  color: #ccc;
}

  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta a {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
    font-size: min(4.5vw, 1.5rem);

  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
